<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/x-icon" href="~/assets/img/logo.png" />
    <!-- Common Styles Starts -->
    @Styles.Render("~/Layout/css/css")
    @Scripts.Render("~/assets/js/js")
    <!-- Common Icon Ends -->
</head>
<body>

    <!--  Main Container Starts  -->
    <div class="main-container" id="container">
        <div class="overlay"></div>
        <div class="search-overlay"></div>
        <div class="rightbar-overlay"></div>
        <!--  Sidebar Starts  -->
        <div class="sidebar-wrapper sidebar-theme">
            <nav id="sidebar">
                <ul class="navbar-item theme-brand flex-row  text-center">
                    <li class="nav-item theme-logo">
                        <a href="#">
                            <img src="~/assets/img/SakthiAutomotiveLogo.png" class="navbar-logo mr-3" width="100" alt="logo">
                        </a>
                    </li>
                </ul>
                @{
                    MasterLogic objMas = new MasterLogic();
                }
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li hidden id="mnuTypDashboard" class="menu">
                        <a href="#dashboard" class="dropdown-toggle">
                            <div class="">
                                <i class="las la-desktop"></i>
                                <span>Dashboard</span>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="dashboard" data-parent="#accordionExample">

                            <li hidden id="mnuDasDashboard">
                                <a href="@Url.Action("Dashboard","Dashboard")"> Dashboard </a>
                            </li>
                        </ul>
                    </li>
                    <li hidden id="mnuTypMaster" class="menu">
                        <a href="#app" class="dropdown-toggle">
                            <div class="">
                                <i class="las la-home la-3x"></i>
                                <span>Masters</span>
                            </div>
                            @*<div>
                                    <i class="las la-angle-right sidemenu-right-icon"></i>
                                </div>*@
                        </a>
                        <ul class="collapse submenu list-unstyled" id="app" data-parent="#accordionExample">

                            <li hidden id="mnuMasEmployee">
                                <a href="@Url.Action("Employees","Master")"> Employees </a>
                            </li>

                            <li hidden id="mnuMasTransporter">
                                <a href="@Url.Action("Transporter","Master")"> Transporter </a>
                            </li>

                            <li hidden id="mnuMasShift">
                                <a href="@Url.Action("Shifts","Master")"> Shifts </a>
                            </li>

                            <li hidden id="mnuMasProducts">
                                <a href="@Url.Action("Products","Master")"> Products </a>
                            </li>

                            <li hidden id="mnuMasCustomers">
                                <a href="@Url.Action("Customers","Master")"> Customers </a>
                            </li>

                            <li hidden id="mnuMasReason">
                                <a href="@Url.Action("Reason","Master")"> Reason </a>
                            </li>

                            <li hidden id="mnuMasPgAction">
                                <a href="@Url.Action("PageAction","Master")?ip=@objMas.AppEncrypt(Globals.MNU_MAS_PAGEACTION.ToString())"> Page Action </a>
                            </li>

                        </ul>
                    </li>

                    <li hidden id="mnuTypService" class="menu">
                        <a href="#services" class="dropdown-toggle">
                            <div class="">
                                <i class="las la-server la-3x"></i>
                                <span>Services</span>
                            </div>
                            @*<div>
                                    <i class="las la-angle-right sidemenu-right-icon"></i>
                                </div>*@
                        </a>
                        <ul class="collapse submenu list-unstyled" id="services" data-parent="#accordionExample">

                            <li hidden id="mnuSerInventory">
                                <a href="@Url.Action("Inventory","Service")"> Inventory </a>
                            </li>

                            <li hidden id="mnuSerStkAdjust">
                                <a href="@Url.Action("StockAdjust","Service")"> Stock Adjustemnt </a>
                            </li>

                        </ul>
                    </li>

                    <li hidden id="mnuTypeReport" class="menu">
                        <a href="#reports" class="dropdown-toggle">
                            <div class="">
                                <i class="las la-file-invoice la-3x"></i>
                                <span>Reports</span>
                            </div>
                            @*<div>
                                    <i class="las la-angle-right sidemenu-right-icon"></i>
                                </div>*@
                        </a>
                        <ul class="collapse submenu list-unstyled" id="reports" data-parent="#accordionExample">

                            <li hidden id="mnuRptStkAdjust">
                                <a href="@Url.Action("RptStockAdjust","Report")?ip=@objMas.AppEncrypt(Globals.MNU_RPT_STOCKADJUST.ToString())">Stock Adjust </a>
                            </li>
                            
                            <li hidden id="mnuRptCustStkAdjust">
                                <a href="@Url.Action("RptStockAdjust","Report")?ip=@objMas.AppEncrypt(Globals.MNU_RPT_CUSTSTOCKADJUST.ToString())">Customer Stock Adjust </a>
                            </li>

                            <li hidden id="mnuRptInventory">
                                <a href="@Url.Action("RptInventory","Report")?ip=@objMas.AppEncrypt(Globals.MNU_RPT_INVENTORY.ToString())">Inventory </a>
                            </li>

                            <li hidden id="mnuRptCusInventory">
                                <a href="@Url.Action("RptInventory","Report")?ip=@objMas.AppEncrypt(Globals.MNU_RPT_CUSTOMERINVENTORY.ToString())">Customer Inventory </a>
                            </li>

                        </ul>
                    </li>

                </ul>

            </nav>
        </div>

        <!--  Sidebar Ends  -->
        <!--  Content Area Starts  -->
        <div id="content" class="main-content">
            <!--  Navbar Starts  -->
            <div class="header-container">
                <header class="header navbar navbar-expand-sm">
                    <div class="header_leftcnt">
                        <ul class="navbar-item theme-brand flex-row text-center">
                            <li class="nav-item">
                                <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
                                    <i class="las la-bars"></i>
                                </a>
                            </li>
                            <li class="nav-item header_app_name">
                                <h5>MASTERS</h5>
                            </li>
                        </ul>
                    </div>
                    <div class="header_rightcnt">
                        <ul class="navbar-item flex-row ml-md-auto">
                            <ul class="navbar-item theme-account flex-row  text-center">
                                <li class="nav-item dropdown user-profile-dropdown">
                                    <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                        <span>
                                            <img src="~/assets/img/manager.png" alt="avatar">
                                            <span class="user_name">@Request.Cookies.Get(Globals.COOKIE_LGNEMPDESC).Value</span>
                                        </span>
                                    </a>
                                    <div class="dropdown-menu position-absolute" aria-labelledby="userProfileDropdown">
                                        <div class="nav-drop is-account-dropdown">
                                            <div class="inner">
                                                @*<div class="nav-drop-header mb-2 px-2">
                                                    <span class="text-primary font-13">Welcome Admin !</span>
                                                </div>*@
                                                <div class="nav-drop-body account-items pb-0">
                                                    <a id="profile-link" class="account-item" href="#">
                                                        <div class="media align-center">
                                                            <div class="media-left">
                                                                <div class="image">
                                                                    <img class="rounded-circle avatar-xs" src="~/assets/img/manager.png" alt="">
                                                                </div>
                                                            </div>
                                                            <div class="media-content ml-2">
                                                                <h6 class="font-12 mb-0 strong">@Request.Cookies.Get(Globals.COOKIE_LGNEMPDESC).Value</h6>
                                                            </div>
                                                            <div class="media-right">
                                                                <i data-feather="check"></i>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a class="account-item" href="#">
                                                        <div class="media align-center">
                                                            <i class="las la-user font-20"></i>
                                                            <div class="media-content ml-3">
                                                                <h6 class="font-13 mb-0 strong">My Account</h6>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a class="account-item" href="#">
                                                        <div class="media align-center">
                                                            <i class="las la-briefcase font-20"></i>
                                                            <div class="media-content ml-3">
                                                                <h6 class="font-13 mb-0 strong">My Activity</h6>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a class="account-item" href="#">
                                                        <div class="media align-center">
                                                            <i class="las la-lock font-20"></i>
                                                            <div class="media-content ml-3">
                                                                <h6 class="font-13 mb-0 strong">Lock Screen</h6>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a class="account-item" href="@Url.Action("Index","Home")">
                                                        <div class="media align-center">
                                                            <i class="las la-sign-out-alt font-20"></i>
                                                            <div class="media-content ml-3">
                                                                <h6 class="font-13 mb-0 strong ">Logout</h6>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>

                            <li class="nav-item dropdown fullscreen-dropdown d-none d-lg-flex">
                                <a class="nav-link" href="javascript:void(0);">
                                    <i class="las la-moon" onclick="darkmode()"></i>
                                </a>
                            </li>
                            <li class="nav-item dropdown fullscreen-dropdown d-none d-lg-flex">
                                <a class="nav-link full-screen-mode" href="javascript:void(0);">
                                    <i class="las la-compress" id="fullScreenIcon"></i>
                                </a>
                            </li>

                            <li class="nav-item dropdown notification-dropdown">
                                <a href="javascript:void(0);" class="nav-link dropdown-toggle position-relative" id="notificationDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="las la-bell"></i>
                                    <div class="blink">
                                        <div class="circle"></div>
                                    </div>
                                </a>
                                <div class="dropdown-menu position-absolute" aria-labelledby="notificationDropdown">
                                    <div class="nav-drop is-notification-dropdown">
                                        <div class="inner">
                                            <div class="nav-drop-header">
                                                <span class="text-black font-12 strong">0 Notifications</span>
                                                <a class="text-muted font-12" href="#">
                                                    Clear All
                                                </a>
                                            </div>
                                            <div class="nav-drop-body account-items pb-0">
                                                @*<a class="account-item" href="apps_ecommerce_orders.html">
                                                    <div class="media align-center">
                                                        <div class="icon-wrap">
                                                            <i class="las la-box font-20"></i>
                                                        </div>
                                                        <div class="media-content ml-3">
                                                            <h6 class="font-13 mb-0 strong">2 New orders placed</h6>
                                                            <p class="m-0 mt-1 font-10 text-muted">10 sec ago</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="account-item" href="javascript:void(0)">
                                                    <div class="media align-center">
                                                        <div class="icon-wrap">
                                                            <i class="las la-user-plus font-20"></i>
                                                        </div>
                                                        <div class="media-content ml-3">
                                                            <h6 class="font-13 mb-0 strong">New User registered</h6>
                                                            <p class="m-0 mt-1 font-10 text-muted">5 minute ago</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="account-item" href="apps_tickets.html">
                                                    <div class="media align-center">
                                                        <div class="icon-wrap">
                                                            <i class="las la-grin-beam font-20"></i>
                                                        </div>
                                                        <div class="media-content ml-3">
                                                            <h6 class="font-13 mb-0 strong">21 Queries solved</h6>
                                                            <p class="m-0 mt-1 font-10 text-muted">1 hour ago</p>
                                                        </div>
                                                    </div>
                                                </a>
                                                <a class="account-item" href="javascript:void(0)">
                                                    <div class="media align-center">
                                                        <div class="icon-wrap">
                                                            <i class="las la-cloud-download-alt font-20"></i>
                                                        </div>
                                                        <div class="media-content ml-3">
                                                            <h6 class="font-13 mb-0 strong">New update available</h6>
                                                            <p class="m-0 mt-1 font-10 text-muted">1 day ago</p>
                                                        </div>
                                                    </div>
                                                </a>*@
                                                <hr class="account-divider">
                                                <div class="text-center">
                                                    <a class="text-primary strong font-13" href="#">View All</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <ul class="navbar-item flex-row">
                            <li class="nav-item dropdown">
                                <a href="@Url.Action("Index","Home")">
                                    <i class="las la-sign-out-alt la-2x text-white"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </header>
            </div>
            <!--  Navbar Ends  -->
            @RenderBody()
            <footer>
                <!-- Copyright Footer Starts -->
                <div class="footer-wrapper">
                    <div class="footer-section f-section-1">
                        <p class="">
                            Copyright © @System.DateTime.Now.Year <a target="_blank" href="http://www.otaindia.com/">
                                <span style="color: #145388; font-weight:600">Origin Technology Associates</span>
                            </a>, All rights reserved.
                        </p>
                    </div>
                    <div class="footer-section f-section-2">
                        <p class="">Version @Globals.APPVER</p>
                    </div>
                </div>
                <!-- Copyright Footer Ends -->
            </footer>
        </div>
        <!--  Content Area Ends  -->
    </div>
    <!-- Main Container Ends -->
    <!-- Common Script Starts -->

    @Scripts.Render("~/Layout/datatable/js")
    <script src="~/bootstrap5/js/bootstrap.min.js"></script>


    <!-- Common Script Ends -->
    <!-- Page Level Plugin/Script Starts -->

    <script>
        $(document).ready(function () {
            App.init();

            $('#basic-dt').DataTable({
                "language": {
                    "paginate": {
                        "previous": "<i class='las la-angle-left'></i>",
                        "next": "<i class='las la-angle-right'></i>"
                    }
                },
                "lengthMenu": [5, 10, 15, 20],
                "pageLength": 5
            });
        });

        $(document).ready(function () {
            fnLoadMnus();

            $(".menu > a.dropdown-toggle").on("click", function (e) {
                e.preventDefault();

                var $clickedMenu = $(this);
                var $submenu = $clickedMenu.next(".submenu");

                // If clicked submenu is already open, close it
                if ($submenu.hasClass("show")) {
                    $submenu.slideUp().removeClass("show");
                    $clickedMenu.attr("aria-expanded", "false");
                } else {
                    // Close other submenus
                    $(".menu .submenu").slideUp().removeClass("show");
                    $(".menu > a.dropdown-toggle").attr("aria-expanded", "false");

                    // Open clicked submenu
                    $submenu.slideDown().addClass("show");
                    $clickedMenu.attr("aria-expanded", "true");
                }
            });

            // Optional: Highlight active link and show submenu on page load
            var currentURL = window.location.href;

            $(".menu a").each(function () {
                var linkURL = $(this).attr("href");

                if (linkURL && currentURL.includes(linkURL)) {
                    $(this).closest("li").addClass("active");

                    var $submenu = $(this).closest(".submenu");
                    $submenu.addClass("show").show(); // Instantly show
                    $submenu.prev("a").attr("aria-expanded", "true");
                }
            });
        });


        function fnLoadMnus() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("LoadMenus", "Home")',                  //"/Master/LoadMenus",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (jsonData) {
                    if (jsonData.Data.length == 0) {
                        toastr.success("User Access not updated");
                        location.href = "@Url.Action("index", "Home")";
                        return true;
                    }
                    var i, j, k;
                    var mnuHdr = [mnuTypDashboard, mnuTypMaster, mnuTypService, mnuTypeReport];
                    var mnuSub = [[mnuDasDashboard], [mnuMasEmployee, mnuMasTransporter, mnuMasShift, mnuMasProducts, mnuMasCustomers, mnuMasReason, mnuMasPgAction],
                    [mnuSerInventory, mnuSerStkAdjust], [mnuRptStkAdjust, mnuRptCustStkAdjust, mnuRptInventory, mnuRptCusInventory]];

                    i = j = k = 0;

                    if (jsonData == null)
                        return;
                    else if (jsonData.Data.length == 0)
                        return;

                    for (i = 0; i < jsonData.Data.length; i++) {
                        j = jsonData.Data[i].MenuType - 1;
                        k = jsonData.Data[i].MenuId - (jsonData.Data[i].MenuType * 100) - 1;
                        mnuHdr[j].hidden = false;
                        mnuSub[j][k].hidden = false;
                    }

                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Error - 5 ::: " + errorThrown);
                }
            });
        }
    </script>


    <!-- Common Script Ends -->
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)
</body>
</html>
